:root {
    --peach: #FAC0BA;
    --olive: #7C6B3A;
    --lime: #BFD641;
    --blue: #4169e1;
    --pink: #BC70A4;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'source sans pro', sans-serif;
    margin: 0;
    background-color: var(--lime);
    
}

main {
    display: flex;
    flex-wrap: wrap;
}

/*--header styling--*/

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--olive);
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    background-image: linear-gradient(to top right, var(--pink), #eed4d3);
    /*background-color: var(--peach);*/
    height: auto;
}

header h1 {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: var(--lime);
    border: 5px dotted var(--blue);
    padding: 10px;
}

header nav {
    text-align: right;
    display: flex;
    align-self: center;
}

nav a {
    font-size: 20px;
    text-decoration: none;
    color: var(--olive);
    padding: 5px;
}

nav a:hover {
    color: var(--blue);
    background-color: white;
    border-radius: 50%;
}

/* styling for subheader */
.subheader {
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(to bottom right, var(--pink), #eed4d3);
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.subheader img {
    width: 100%;
   max-width: fit-content;
   min-width: 265px;
   border: 5px solid royalblue;
   border-radius: 50%;
   margin: 10px;
   display: block;
   margin: 5px auto 25px;
   width: 50%;
   
}

.subheader h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 48px;
    color: var(--olive);
   background-color: var(--lime);
    border: 5px dotted var(--blue);
    padding: 10px;
    width: fit-content;
    margin: auto;
}

/*--main section styling--*/
.content {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--peach);
   width: 100%;
   justify-content: space-between;
}

#one, #three {
    background-image: linear-gradient(to bottom left, #eed4d3, var(--pink));
}

#two {
    background-image: linear-gradient(to bottom right, var(--pink), #eed4d3);
}



.title, .goodstuff {
    height: auto;
    margin: 30px 0;
}

.title {
    width: 25%;
    font-size: 50px;
    text-align: right;
    padding-right: 10px;
    padding-top: 25px;
    color: var(--olive);
}

.goodstuff {
    width: 70%;
    border-left: var(--olive) double 5px;
    font-size: 20px;
    padding-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.goodstuff p{
    padding-right: 50px;
}


/*----------work/projects styling------------------*/

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#first-project {
    position: relative;
    flex: 50%;
}

#rest-projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 5px dotted var(--blue);
    padding: 10px;
    text-align: center;
    margin: 20px;
    position: relative;
    flex: 25%;
    min-width: 200px;
}

.card:hover, nav a:hover  {
    box-shadow: inset 0px 0px 20px var(--blue), 0 0 20px var(--blue);
}

.card img {
    width: 100%;
}

.card h4 {
    color: var(--olive);
    padding: 20px;
    background-color: var(--lime);
    font-size: 25px;
}

.card a {
    text-decoration: none;
}

.card a h4:hover {
    color: var(--blue);
    background-color: white;
}

/*** contact styling ***/
#contact-nav {
    text-align: right;
    display: flex;
    align-self: center;
    justify-content: space-around;
    padding-right: 25px;
}

/* Media Queries */

@media screen and (max-width: 768px) {
    main, nav, a {
        flex-direction: column;
        padding: 0;
        flex: 0 0 50%;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
    .title {
        width: 75%;
       text-align: center;
       border-bottom: 5px solid var(--olive);
    }
    
    .goodstuff {
        border-left: none;
        padding: 5px;
        flex-direction: column;
        text-align: center;
       padding: 0;
    }

    #contact-nav {
        flex-direction: column;
        align-items: center;
        
    }
    
} 
